@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

.App {
  min-height: 100vh;
  overflow: hidden;
  background-color: #2D2933;
  font-family: 'Montserrat', sans-serif;
}

.App input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.App button {
  font-family: 'Montserrat', sans-serif;
}