@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
:root {
  --bg: #2D2933;
  --accent:#8033FF;
  --font-color: #F2F2F2;
}

.App {
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--bg);
  font-family: 'Montserrat', sans-serif;
}

.App input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.App button {
  font-family: 'Montserrat', sans-serif;
}