.mobile-categories-list {
  color: white;
  text-align: center;
  overflow-y: scroll;
  height: 100vh;
  margin-bottom: 60px;
  font-weight: 500;
}

.mobile-categories {
  list-style: none;
  display: grid;
  justify-content: center;
  padding: 0;
}


.add-categories-item {
  background-color: var(--accent);
  border: none;
  border-radius: 10px;
  height: 35px;
  width: 250px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 10px);
  align-items: center;
  grid-gap: 0;
}

.add-btn {
  margin: 0;
  grid-column: 2/3;
  grid-row: 2;
}

.add-categories-item input {
  color: white;
  background-color: var(--accent);
  border: none;
  width: 165px;
  border-radius: 10px;
  padding-left: 3px;
  grid-column: 4/9;
  grid-row: 2;
}

.categories-items {
  list-style: none;
  padding: 0;
  width: 250px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 0;
  margin-top: 10px;
}

.delete-btn {
  margin: 0;
  grid-column: 2/3;
  padding: 2px;
  cursor: pointer;
}

.share-btn {
  margin-top: 2px;
  margin-right: 5px;
  cursor: pointer;
}

.categories-title {
  grid-column: 3/10;
  margin-left: 10px;
  padding-top: 4px;
  text-align: start;
  cursor: pointer;
}

.categories-item {
  height: 30px;
  width: 250px;
  color: white;
  background-color: #5A5266;
  border: none;
  border-radius: 10px;
  margin: 8px 0;
  grid-template-columns: repeat(10, 1fr);
  display: grid;
}