.modal {
  color: white;
  text-align: center;
}

.modal label {
  font-weight: 500;
}

.modal input {
  color: black;
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 35px;
  width: 250px;
  margin-top: 8px;
}

.modal button {
  color: white;
  background-color: #8033FF;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 4px 10px;
  margin-top: 8px;
  cursor: pointer;
}